.boxContainer {
  display: flex;
  justify-content: center;
}

.west {
  margin: 0 20px; 
  width: 200px; 
  height: 200px;
}

.p_photo {
  border-radius: 50%;
}

#taro {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
.test{
  position: relative;
  width: 90px;
  height: 90px;
  background: #fcfaf9;
  border-style:dotted;
  border-color: #E4AE91;
  border-radius: 15px;
  padding: 1em;
  line-height: 20px;
  text-align:center;
}

/* .test:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: 3px;
  bottom: 3px;
  border-style: solid;
  border-color: transparent transparent transparent green;
  border-width: 10px 0 10px 17.32px;
  transform: rotate(45deg);
} */

