.boxContainer {
display: flex;
 justify-content: center;
}

.box {
    border:solid 2px #000000;
     margin: 0 150px; 
     width: 200px; 
     height: 200px;
     border-radius: 10%;
}

#taro {
        font-weight: bold;
        text-align: center;
        font-size: 40px;
}