.logo {
  height: 90px;
}

.message_screen {
	display: flex;
}

.menu {
	width: 300px;
}

.menu li {
  list-style: none;
}

.member_photo {
  border-radius: 50%;
}

.menu_btn {
	display: flex;
}

.menu_btn p {
	margin-left: 15px;
}

.menu_btn:hover {
  opacity: 0.5;
  cursor: pointer;
  cursor: hand;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#name {
  height: 45px;
  margin: 16px 0px;
}

#photo {
  height: 130px;
  margin: 16px 0px;
}

.menber_name {
  font-size: 30px;
  font-weight: bold;
}

fieldset {
  border-style: none;
}

.color {
  height: 20px;
  width: 5px;
  background-color: #E4AE91;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.input_item {
  display: flex;
  align-items: center;
}


.send_btn{
  width: 120px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  background-color: #2c0166;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 70px;
}

.send_btn:hover {
  opacity: 0.5;
  cursor: pointer;
  cursor: hand;
}

.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99;
}

.start p {
	position: fixed;
	left: 35%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 99;
	width: 280px;
}